# AWS 配置
AWS_REGION=xxxxxx

# S3
S3_BUCKET=xxxxxx

# DynamoDB
DDB_FILES_TABLE=xxxxxx
DDB_ACCESS_TABLE=xxxxxx

# Cognito 配置
COGNITO_USER_POOL_ID=xxxxxx
COGNITO_APP_CLIENT_ID=xxxxxx



AWS_ACCESS_KEY_ID=xxxxxx
 AWS_SECRET_ACCESS_KEY=txxxxxx
 AWS_REGION=xxxxxx
 S3_BUCKET=xxxxxx
 DDB_FILES_TABLE=xxxxxx

